[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

# DODANE, ABY NAPRAWIĆ BŁĄD 404 NA PODSTRONACH
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200